<template>
  <div>
  <button @click="$logout('/')">Logout</button>
</div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'SecretPage',
  middleware: 'auth',
})
</script>
